<div id="<%= dom_id user %>" class="card p-4 mb-4 shadow-sm bg-white rounded">
  <p><strong class="text-uppercase fw-bold">Prénom :</strong> <%= user.first_name %></p>
  <p><strong class="text-uppercase fw-bold">Nom :</strong> <%= user.last_name %></p>
  <p><strong class="text-uppercase fw-bold">Email :</strong> <%= user.email %></p>
  <p><strong class="text-uppercase fw-bold">Description :</strong> <%= user.description.presence || "Aucune description" %></p>
</div>