<%= form_with(model: event, html: { class: "needs-validation" }) do |form| %>
  <% if event.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="fw-bold"><%= pluralize(event.errors.count, "erreur") %> empêchent l'enregistrement :</h4>
      <ul class="mb-0">
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :start_date, "Date de début", class: "form-label text-uppercase fw-bold" %>
    <%= form.datetime_field :start_date, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :duration, "Durée (en minutes)", class: "form-label text-uppercase fw-bold" %>
    <%= form.number_field :duration, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :title, "Titre", class: "form-label text-uppercase fw-bold" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, "Description", class: "form-label text-uppercase fw-bold" %>
    <%= form.text_area :description, class: "form-control", rows: 5 %>
  </div>

  <div class="mb-3">
    <%= form.label :price, "Prix (€)", class: "form-label text-uppercase fw-bold" %>
    <%= form.number_field :price, step: 0.01, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :location, "Lieu", class: "form-label text-uppercase fw-bold" %>
    <%= form.text_field :location, class: "form-control" %>
  </div>

  <div class="mb-4">
    <%= form.label :photo, "Photo de l'événement", class: "form-label text-uppercase fw-bold" %>
    <%= form.file_field :photo, direct_upload: true, class: "form-control" %>
  </div>

  <div>
    <%= form.submit event.new_record? ? "Créer l'événement" : "Mettre à jour", class: "btn btn-primary btn-xl text-uppercase" %>
  </div>
<% end %>