<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :start_date, "Date de début", style: "display: block" %>
    <%= form.datetime_field :start_date %>
  </div>

  <div>
    <%= form.label :duration, "Durée (en minutes)", style: "display: block" %>
    <%= form.number_field :duration %>
  </div>

  <div>
    <%= form.label :title, "Titre", style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, "Description", style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :price, "Prix (€)", style: "display: block" %>
    <%= form.number_field :price %>
  </div>

  <div>
    <%= form.label :location, "Lieu", style: "display: block" %>
    <%= form.text_field :location %>
  </div>

  
  <div>
    <%= form.submit "Créer l'événement", class: "button" %>
  </div>
 
<% end %>
