<div class="form-wrapper">
  <h2>Participants à <%= @event.title %></h2>

 <% if @event.participants.any? %>
    <h3>Participants :</h3>
    <ul>
      <% @event.participants.each do |participant| %>
        <li><%= participant.full_name %> (<%= participant.email %>)</li>
      <% end %>
    </ul>
  <% else %>
    <p>Aucun participant pour le moment.</p>
  <% end %>
  
  <%= link_to "Modifier l'événement", edit_event_path(@event) %> |
  <%= button_to "Supprimer l'événement", @event, method: :delete, data: { confirm: "Tu es sûr ?" } %> |
  <%= link_to "Retour à l'événement", event_path(@event) %>
</div>